<html>
    <head>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/custom.scss') }}">
    </head>
    {% include 'header_base.html.twig' %}

    <body class="position-relative">

        <div class="container">

            <div class="text-center contactTwig">
                <span>Dou'poils <br/>
                25 rue de la Couronne <br/>
                68730 Blotzheim <br/>
                06 66 66 66 66
                </span>
            </div>

            <div class="row contactTwig">
                <div class="col">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1345.2038813135791!2d7.491829258312944!3d47.59876039479607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4791bdd544e843bb%3A0x319e293ae8d0d2c1!2sRue+de+la+Couronne%2C+68730+Blotzheim!5e0!3m2!1sfr!2sfr!4v1546419361066" width="600" height="450" frameborder="0" style="border:0" allowfullscreen ></iframe>
                </div>
                <div class="col">
                    {{ form_start(form, {'method': 'POST'}) }}
                        {{ form_errors(form) }}
                    
                        <div class="formControlContact">
                            {{ form_widget(form.Name, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom', 'type' : 'email' }}) }}
                        </div>

                        <div class="formControlContact">
                            {{ form_widget(form.Email, {'attr' : {'class' : 'form-control', 'placeholder' : 'Email', 'type' : 'email' }}) }}
                        </div>

                        <div class="formControlContact">
                            {{ form_widget(form.Message, {'attr': {'class' : 'form-control', 'placeholder' : 'Message', 'type' : 'TextareaType' }}) }}
                        </div>       
                    {{ form_end(form, {'attr' : { 'class' : 'btn btn-primary' }}) }}
                </div>
            </div>
        </div>

    </body>
    {% include 'footer.html.twig' %}
</html>