<html>
    <head>
    {% include 'script.html.twig' %}
    </head>
    {% include 'header_base.html.twig' %}
    <body class="position-relative">
        <div class="container">
            <div class="text-center contactTwig">
                <span>Dou'poils <br/>
                27 rue de la Couronne <br/>
                68730 Blotzheim <br/>
                06 66 66 66 66
                </span>
            </div>

            <div class="row contactTwig">
                <div class="col">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2690.3829163852415!2d7.490665315936728!3d47.599243579184154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4791bdd56b6fc075%3A0xdb328dca27988e9d!2s27+Rue+de+la+Couronne%2C+68730+Blotzheim!5e0!3m2!1sfr!2sfr!4v1546960666154" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col">
                    {{ form_start(form, {'method': 'POST'}) }}
                        {{ form_errors(form) }}
                    
                        <div class="formControlContact">
                            {{ form_widget(form.Name, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom', 'type' : 'email' }}) }}
                        </div>

                        <div class="formControlContact">
                            {{ form_widget(form.Email, {'attr' : {'class' : 'form-control', 'placeholder' : 'Email', 'type' : 'email' }}) }}
                        </div>

                        <div class="formControlContact">
                            {{ form_widget(form.Message, {'attr': {'class' : 'form-control', 'placeholder' : 'Message', 'type' : 'TextareaType' }}) }}
                        </div>      
                        
                        <div class="formControlContact center-block">
                            {{ form_widget(form.Save, {'attr': {'class' : 'form-control text-center btn-primary', 'type' : 'submit' }, 'label' : 'Envoyer' }) }}
                        </div>
                    {{ form_end(form, {'attr' : { 'class' : 'btn btn-primary' }}) }}
                </div>
            </div>
        </div>

    </body>
    {% include 'footer.html.twig' %}
</html>