<div>
  <div>
      <div class="container">
          <header class="page-header">
              <div class="row flex-nowrap justify-content-between align-items-center">
                  <div class="text-center">
                      <h1 class="blog-header-logo text-dark" href="{{ path('index') }}">Dou'poils</h1>
                  </div>
                  <div class="d-flex justify-content-end align-items-center">
                      <a class="btn btn-sm btn-outline-secondary boutonCreation" href="#">Créer un compte</a>
                      <a class="btn btn-sm btn-outline-secondary" href="{{ path('login') }}">Se connecter</a>
                  </div>
              </div>
          </header>
      </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-md-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('index') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('prestation') }}">Prestation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Galerie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{{ path('rendezVous') }}">Rendez-vous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }} ">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
<div>