<html>
    <head>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/custom.scss') }}">
        <link rel="stylesheet" href="{{ asset('build/css/fullcalendar.print.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/fullcalendar.min.css') }}">
        <script src="{{ asset('build/js/moment.min.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>

        <script src="{{ asset('build/js/jquery.min.js') }}"></script>
        <script src="{{ asset('build/js/fullcalendar.min.js') }}"></script>
        <script>
        $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: Date.now(),
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'Dinner',
          start: '2018-11-10T20:00:00'
        }
      ]
    });
    
  });

  $(document).ready(function() {
     $('#exampleModal').modal('show');
  });

 {# function PrendreRDV() {
          var dateStr = prompt('Enter a date in YYYY-MM-DD format');
          var date = moment(dateStr);
          if (date.isValid()) {
            $('#calendar').fullCalendar('renderEvent', {
              title: 'dynamic event',
              start: date,
              allDay: true
            });
            alert('Great. Now, update your database...');
          } else {
            alert('Invalid date.');
          }
        }; #}
      </script>
        <style>
        

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
  #position {
    margin: 25px;
  }
  .btn {
   margin: 10px;
  }
        </style>

        <meta charset='utf-8' />
    </head>
    <body class="position-relative">
        {% include 'header_base.html.twig' %}
        <div id="position">
          <div id='calendar'></div>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          {# <div style="text-align: center;">
          </div> #}



        
        {% include 'footer.html.twig' %}
    </body>
</html>