<html>
    <head>
    {% include 'script.html.twig' %}
    <style>
        #calendar-holder {
          max-width: 900px;
          margin: 0 auto;
        }
        #position {
          margin: 25px;
        }
        .btnRDV {
        margin-top: 20px;
        background-color: #8cd98c;
        border-color: #8cd98c;
        }
    </style>
    <script type="text/javascript">
      $(function () {
        $('#calendar-holder').fullCalendar({
            header: {
                left: 'prev, next, today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            locale: 'fr',
            nowIndicator: true,
            lazyFetching: true,
            fixedWeekCount: false,
            navLinks: true,
            timeFormat: 'H(:mm)',
            eventSources: [
                {
                    url: '/fc-load-events',
                    type: 'POST',
                    data: {
                        filters: {}
                    },
                    error: function () {
                        alert('There was an error while fetching FullCalendar!');
                    }
                }
            ]
        });
      });
      </script>
    <meta charset='utf-8' />
    </head>
    {% include 'header_base.html.twig' %}
    <body class="position-relative">
        
        <div id="position">          
          {% include '@FullCalendarBundle/calendar.html.twig' %}
          
          <!-- Button trigger modal -->
          <div class="text-center">
            <button type="button" class="btn btn-primary btnRDV" data-toggle="modal" data-target="#ModalRDV">Prendre rendez-vous</button>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="ModalRDV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Rendez-vous</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{form_start(form, {'method': 'POST'}) }}
                      {{ form_errors(form) }}
                
                      <div class="formControlRDV">
                      {{ form_widget(form.MemberName, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom', 'type' : 'email' }}) }}
                      </div>

                      <div class="formControlRDV">
                      {{ form_widget(form.MemberFirstName, {'attr' : {'class' : 'form-control', 'placeholder' : 'Prénom', 'type' : 'email' }}) }}
                      </div>

                      <div class="formControlRDV">
                      {{ form_widget(form.MemberMail, {'attr': {'class' : 'form-control', 'placeholder' : 'Email', 'type' : 'email' }}) }}
                      </div>

                      <div class="formControlRDV">  
                      {{ form_widget(form.prestationTemplateSize, {'attr' : {'class' : 'form-control', 'placeholder' : 'Taille du chien', 'type' : 'email' }}) }}
                      </div>

                      <div class="formControlRDV">
                      {{ form_widget(form.prestationtemplateHair, {'attr' : {'class' : 'form-control', 'placeholder' : 'Type de poil'}}) }}
                      </div> 

                      <div class="formControlRDV">
                      {{ form_widget(form.appointmentStart, {'attr' : {'class' : 'form-control', 'placeholder' : 'Date de rendez vous'}}) }}
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btnRDV" data-dismiss="modal">Fermer</button>
                      {{ form_widget(form.save, {'attr':{ 'class' : 'btn btn-primary btnRDV'}, 'label' : 'Valider' }) }}
                      {{ form_end(form, {'attr' : { 'class' : 'btn btn-primary' }}) }}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </body>
            {% include 'footer.html.twig' %}
</html>