<html>
    <head>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/custom.scss') }}">
        <link rel="stylesheet" href="{{ asset('build/css/fullcalendar.print.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/fullcalendar.min.css') }}">
        <script src="{{ asset('build/js/moment.min.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>

        <script src="{{ asset('build/js/jquery.min.js') }}"></script>
        <script src="{{ asset('build/js/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('build/js/fullcalendarfr.js') }}"></script>
        <script>
        $(document).ready(function() {

    $('#calendar').fullCalendar({
      defaultDate: Date.now(),
      locale: 'fr',
      navLinks: true, 
      editable: true,
      eventLimit: true,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      }, 
      events: [
        {
          title: 'Dinner',
          start: '2018-11-10T20:00:00'
        }
      ]
    });
    
  });

  $(document).ready(function() {
     $('#ModalRDV').modal('show');
  });

      {# function PrendreRDV() {
          var dateStr = prompt('Enter a date in YYYY-MM-DD format');
          var date = moment(dateStr);
          if (date.isValid()) {
            $('#calendar').fullCalendar('renderEvent', {
              title: 'dynamic event',
              start: date,
              allDay: true
            });
            alert('Great. Now, update your database...');
          } else {
            alert('Invalid date.');
          }
      }; #}
      </script>
        <style>
        

      #calendar {
        max-width: 900px;
        margin: 0 auto;
      }
      #position {
        margin: 25px;
      }
      .btn {
      margin: 20px;
      }
    </style>
    <meta charset='utf-8' />
    </head>

    <body class="position-relative">
        {% include 'header_base.html.twig' %}
        <div id="position">
          <div id='calendar'></div>

          <!-- Button trigger modal -->
          <div class="text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalRDV">Prendre rendez-vous</button>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="ModalRDV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Rendez-vous</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                {{form_start(form, {'method': 'POST'}) }}
                    {{ form_errors(form) }}
              
                    <div class="formControlRDV">
                    {{ form_widget(form.MemberName, {'attr' : {'class' : 'form-control', 'placeholder' : 'Nom', 'type' : 'email' }}) }}
                    </div>

                    <div class="formControlRDV">
                    {{ form_widget(form.MemberFirstName, {'attr' : {'class' : 'form-control', 'placeholder' : 'Prénom', 'type' : 'email' }}) }}
                    </div>

                    <div class="formControlRDV">
                    {{ form_widget(form.MemberMail, {'attr': {'class' : 'form-control', 'placeholder' : 'Email', 'type' : 'email' }}) }}
                    </div>

                    <div class="formControlRDV">  
                    {{ form_widget(form.prestationTemplateSize, {'attr' : {'class' : 'form-control', 'placeholder' : 'Taille du chien', 'type' : 'email' }}) }}
                    </div>

                    <div class="formControlRDV">
                    {{ form_widget(form.prestationtemplateHair, {'attr' : {'class' : 'form-control', 'placeholder' : 'Type de poil'}}) }}
                    </div> 

                    <div class="formControlRDV">
                    {{ form_widget(form.appointmentStart, {'attr' : {'class' : 'form-control', 'placeholder' : 'Date de rendez vous'}}) }}
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  {{ form_end(form, {'attr' : { 'class' : 'btn btn-primary' }}) }}
                </div>
              </div>
            </div>
          </div>
          <!-- Fin Modal -->

        {% include 'footer.html.twig' %}

    </body>
</html>